<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DB_local"
         providerName="System.Data.SqlClient"
         connectionString="Data Source =192.168.137.128;Initial Catalog=Test;User ID=sa;Password=Cam1star;MultipleActiveResultSets=True"/>
    <add name="DB"
             providerName="System.Data.SqlClient"
             connectionString="Data Source =192.168.137.128;Initial Catalog=OpExOLTP_QA;User ID=sa;Password=Cam1star;MultipleActiveResultSets=True"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>